include *.txt
include *.md
include *.pkl
recursive-include ./AEFire_model *

include AEFire_model/datasets/Acoustic_Extinguisher_Fire_Dataset.csv
include AEFire_model/datasets/test.csv
include AEFire_model/trained_models/*.pkl
include AEFire_model/VERSION
include AEFire_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]